
#Auth
NODE_ENV='' //[local,development,staging]
NEXTAUTH_URL=''
NEXTAUTH_SECRET=''//openssl rand -base64 32


#API
NEXT_PUBLIC_APP_URL='' // api end point

#FIREBASE
NEXT_PUBLIC_API_KEY=""
NEXT_PUBLIC_AUTH_DOMAIN=""
NEXT_PUBLIC_PROJECT_ID=""
NEXT_PUBLIC_STORAGE_BUCKET=""
NEXT_PUBLIC_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_APP_ID=""
NEXT_PUBLIC_MEASUREMENT_ID=""